.icon-hirvi {
  height: 1em;
  color: green;
}

.icon-kuusipeura {
  height: 1em;
  color: red;
}

.icon-metsakauris {
  height: 1em;
  color: darkorange;
}

.icon-valkohantapeura {
  height: 1em;
  color: blue;
}

.icon-metsapeura {
  height: 1em;
  color: darkslategrey;
}

.icon-haapana {
  height: 1 em;
  color: brown;
}

.icon-isokoskelo {
  height: 1em;
  color: darkslateblue;
}

.icon-heinasorsa {
  height: 1em;
  color: green;
}
