
.icon-deerhead:before { content: '\e800'; } /* '' */
.icon-moosehead:before { content: '\e801'; } /* '' */
.icon-duck:before { content: '\e802'; } /* '' */
.icon-goose:before { content: '\e803'; } /* '' */
